.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.trail-container {
  position: absolute;
  pointer-events: none;
  width: 5%;
  height: 1%;
  top: 100;
  left: 0;
}

.trail {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  position: fixed;
  z-index: 1000000;
  background: radial-gradient(circle, #ffffff, #00ffcc);
  /* Utilisation d'un dégradé radial pour obtenir une couleur lumineuse */
  box-shadow: 0 0 10px #00ffcc;
  /* Ombre pour un effet de lueur */
}
